article p{
  color:#3f3f3f;
  font-size: 16pt;
  line-height: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

article li{
  margin-top: 0.75em;
  color:#3f3f3f;
  font-size: 16pt;
}


article h1, h2, h3, h4, h5, h6{
  color:#3f3f3f;
  margin: 0em;
  margin-top: 18px;
}

article h1{
  font-size: 2em;
}

article a{
  color:inherit;
  text-decoration-color: #3f3f3f;
  text-decoration-style: dashed;
  text-decoration-thickness: 0.11111em;
}

article a:hover{
  text-decoration-color: #993147;
  text-decoration-style: solid;
}

div.button{
  background-color: #316999;
  display: inline-block;
  padding: 0.75em;
  border-radius: 4px;
  color: #ffffff;
}

div.button:hover{
  background-color: #265278;
}

div.button a{
  text-decoration: none;
}

div.button a:visited { 
  color: inherit;
}



img{
  max-width: 85%;
  display: block;
  margin: auto;
  box-shadow: 2.5px 5px 5px;
}

img.right{
  margin: 1em;
  float: right;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

img.left{
  margin: 1em;
  float: left;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* Code style elements  */ 
code{
  white-space: pre-line;
  font-size: 10pt;
  margin-top: 1em;
  padding: 1em;
  display: block;
  border: 1px solid #993147;
  border-left: 4px solid #993147;
}

output{
  white-space: pre-line;
  font-size: 10pt;
  margin-top: 1em;
  padding: 1em;
  display: block;
  border: 1px solid #316999;
  border-left: 4px solid #316999;
}

code::first-line{
  line-height: 0;
}

output::first-line{
  line-height: 0;
}


.blue-wrapped{
  margin-top: 1em;
  padding: 1em;
  padding-top:0.5em;
  display: inline-block;
  border: 1px solid #316999;
  border-left: 4px solid #316999;
}

.blue-wrapped > :first-child{
  margin-top: 0em;
}

.red-wrapped{
  margin-top: 1em;
  padding: 1em;
  padding-top:0.5em;
  display: inline-block;
  border: 1px solid #993147;
  border-left: 4px solid #993147;
}

.red-wrapped > :first-child{
  margin-top: 0em;
}



article b{

  color: #316999;
}

article i{
  color: #993147;
}

hr.dashed{
  border: none;
  border-top: dashed;
  border-color:#3f3f3f;
  height: 0.5em;
}

hr.dotted{
  border: none;
  border-top: dotted;
  border-color:#3f3f3f;
  height: 0.5em;
}
